# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Build Outputs & Generated code
.svelte-kit/
build/
src-tauri/target/
src-tauri/gen/
test-results/

# Miscellaneous
/static/
